
  /* everything contained within this  */
.box-it{
  margin: auto;
  position: relative;
  max-width: 600px;
  height: 800px;
  border: 1px solid rgb(179, 179, 179);
  padding: 0px;
  background-color: #ffffff ;
  border-radius: 4px ;
  overflow: hidden;
}


/* make scrollbar transparent */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
} 
 
/* This contains the date elements */
.head1{
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 2px;
  font-size: 40px;
  color:#6366f4;

  position: absolute;
  top: 50px;
  left: 45px;
  width: 500px;
  height: 55px;
}
       
 .head3{
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 20px;
  font-size: 25px;
  color: #7f7fdd;
  opacity: 0.8;

  position: absolute;
  top: 110px;
  left: 45px;
     width: 170px;
     height: 55px;
         } 
         
.head4{
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 20px;
  font-size: 23px;
  color: #7f7fdd;
  opacity: 0.8;

  position: absolute;
  top: 80px;
  right: -5px;
  width: 170px;
  height: 55px;
}      

/* contains the big plus button */
.big-red{
  position: absolute;
  top: 150px;
  right: 50px;
  
}
/* stylize big red plus button */
.plus {
  width:60px;
  height:60px;
  display:inline-block;
  
  background:
    linear-gradient(rgb(252,103,108) 0 0) top left,
    linear-gradient(rgb(252,103,108) 0 0) top right,
    linear-gradient(rgb(252,103,108) 0 0) bottom left,
    linear-gradient(rgb(252,103,108) 0 0) bottom right;
  background-size: calc(50% - 1px) calc(50% - 1px); /*thickness = 2px (2*1px) */
  background-repeat:no-repeat;
  border:22px solid rgb(252,103,108);
  box-sizing: border-box;
  background-color: #fefefe;
      
}

.radius {
  border-radius:50%;
}
           
  /*contain and style list elements  */
.todo-list {
  overflow-y:scroll; 
  height: 560px;
  list-style: none;
  position: absolute;
  
  padding-top: 5px;
  top: 220px;
  right: 0px;
  left: auto ;
  width: 100%;
  
    
}
  
.todo-item {

  margin-bottom: 20px;
  padding-bottom: 9px;
  padding-left:0px;
  padding-right: 0px;
  width: 100%;
  display: flex;
  
  justify-content: space-between;
  border-bottom:1px solid rgb(179, 179, 179);
}

.todo-item span {
  flex-grow: 3;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  color: rgba(74, 74, 74, 0.777);
  font-family: 'Roboto', sans-serif;
}

.done span {
  text-decoration: line-through;
  color: #888;
}

/* check box on list element */
input[type="checkbox"] {
  display: none;
}

.tick {
  margin-left: 20px;
  width: 20px;
  height: 20px;
  border: 3px solid rgb(127, 127, 127);
  border-radius: 10%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

.tick::before {
  font-weight: bold;
  content: '✓';
  font-size: 18px;
  color: #ffffff;
  display: none;
  
  width: 25px;
  height: 20px;
  border: 7px solid red;
  border-radius: 10%;
  background-color: red;
}


.done .tick::before {
  display: inline;
  
}

/* tod list input form */
form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 3px solid #333;
}



/* Modal styling and properties */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* divider in line with plus button */
.line-1{
  width: 100%;
  height: 2px;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 180px;
  margin-bottom:90px;
  background-color:rgb(179, 179, 179);  
}

/* Time picker styling */
input[type=time] {
  border: none;
  color: #2a2c2d;
  font-size: 15px;
  font-family: helvetica;
  width: 90px;
  margin-right: 20px;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as 
the up and down buttons and the 'X' button */
input[type=time]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}

/* The space between the fields - between hour and minute, the minute and 
second, second and am/pm */
input[type=time]::-webkit-datetime-edit-text {
  padding: 5px 5px;
}

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */

/* Hour */
input[type=time]::-webkit-datetime-edit-hour-field {
  background-color: #f2f4f5;
  border-radius: 15%;
  padding: 2px 3px;
}

/* input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
} */

/* Close button on list items */
.close-icon{
  margin-right: 20px;
  display:block;
  box-sizing:border-box;
  width:20px;
  height:20px;
  border-width:3px;
  border-style: solid;
  border-color:rgb(252,103,108);
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:rgb(252,103,108);
  box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
}       
