/* html {
    box-sizing: border-box;
  } */
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  .box-it{
    margin: auto;
    position: relative;
    max-width: 500px;
    border: 1px solid rgb(0, 0, 0);
    padding: 0px;
    background-color: #ffffff ;
    border-radius: 4px ;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  }

  /* body {
   font-family:
   -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
   line-height: 1.4;
  } */
  
  .head1{
    font-weight: bold;
    font-family:
   -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
   line-height: 1.4;
   text-align: center;
   margin-bottom: 2px;
   font-size: 40px;
   color:#6366f4;

  position: absolute;
  top: 50px;
  right: 270px;
  width: 170px;
  height: 55px;
  
   
   
     }
  
     .head2{
      font-family:
     -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
      Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
     line-height: 1.4;
     text-align: center;
     margin-bottom: 20px;
     font-size: 40px;
     color: #6366f4;
     opacity: 0.9;

     position: absolute;
     top: 50px;
     right: 150px;
     width: 170px;
     height: 55px;
       }
       
       .head3{
        font-family:
       -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
        Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
       line-height: 1.4;
       text-align: center;
       margin-bottom: 20px;
       font-size: 30px;
       color: #7f7fdd;
       opacity: 0.8;

       position: absolute;
     top: 100px;
     right: 325px;
     width: 170px;
     height: 55px;
         } 
         
         .head4{
          font-family:
         -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
          Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
         line-height: 1.4;
         text-align: center;
         margin-bottom: 20px;
         font-size: 20px;
         color: #7f7fdd;
         opacity: 0.8;

         position: absolute;
     top: 80px;
     right: 2px;
     width: 170px;
     height: 55px;
           }      

.big-red{
  position: absolute;
  top: 150px;
  right: 50px;
  
}
           
  .container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    color: #333;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    overflow-y: auto;
  }
  
  
  
  svg {
    width: 64px;
    height: 64px;
  }
  
  .todo-list {
    list-style: none;
    margin-bottom: 20px;
    position: absolute;
     top: 200px;
     right: 190px;
     
  }
  
  .todo-item {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .todo-item span {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
  }
  
  .done span {
    text-decoration: line-through;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .tick {
    width: 30px;
    height: 30px;
    border: 3px solid #333;
    border-radius: 10%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
  }
  
  .tick::before {
    content: '✓';
    font-size: 18px;
    color: #ffffff;
    display: none;
    
    width: 40px;
    height: 30px;
    border: 3px solid red;
    border-radius: 10%;
    /* display: inline-flex; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: red;
  }
  

  .done .tick::before {
    display: inline;
    
  }
  
  .delete-todo {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
  
  .delete-todo svg {
    width: 30px;
    height: 30px;
    pointer-events: none;
  }
  
  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid #333;
  }

  sup {
    font-size: x-small
  }

  .plus {
    width:60px;
    height:60px;
    display:inline-block;
    
    background:
      linear-gradient(rgb(252,103,108) 0 0) top left,
      linear-gradient(rgb(252,103,108) 0 0) top right,
      linear-gradient(rgb(252,103,108) 0 0) bottom left,
      linear-gradient(rgb(252,103,108) 0 0) bottom right;
    background-size: calc(50% - 1px) calc(50% - 1px); /*thickness = 2px (2*1px) */
    background-repeat:no-repeat;
    border:15px solid rgb(252,103,108);
    box-sizing: border-box;
    background-color: #fefefe;
        
  }
  
  .radius {
    border-radius:50%;
  }
  
  /* body {
   background:rgb(39, 105, 59);
  } */



 .big-box{
  width: 2px;
  height: 20px;
  top: 4px;
  left: 8px
 }

 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.line-1{
  
    width: 100%;
    height: 2px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 143px;
    margin-bottom:90px;
    background-color:rgba(85, 85, 85, 0.495);
  
   
}