/* html {
    box-sizing: border-box;
  } */
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  .box-it{
    margin: auto;
    position: relative;
    max-width: 600px;
    border: 1px solid rgb(179, 179, 179);
    padding: 0px;
    background-color: #ffffff ;
    border-radius: 4px ;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          overflow: hidden;
          
    
    /* background-color: rgb(236, 236, 236); */
  }
   /* make scrollbar transparent */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  /* body {
   font-family:
   -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
   line-height: 1.4;
  } */
  
  .head1{
    font-weight: bold;
    font-family:
   -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
   line-height: 1.4;
   text-align: center;
   margin-bottom: 2px;
   font-size: 40px;
   color:#6366f4;

  position: absolute;
  top: 50px;
  right: 390px;
  width: 170px;
  height: 55px;
  
   
   
     }
  
     .head2{
      font-family:
     -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
      Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
     line-height: 1.4;
     text-align: center;
     margin-bottom: 20px;
     font-size: 40px;
     color: #6366f4;
     opacity: 0.9;

     position: absolute;
     top: 50px;
     right: 260px;
     width: 170px;
     height: 55px;
       }
       
       .head3{
        font-family:
       -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
        Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
       line-height: 1.4;
       text-align: center;
       margin-bottom: 20px;
       font-size: 25px;
       color: #7f7fdd;
       opacity: 0.8;

       position: absolute;
     top: 110px;
     right: 450px;
     width: 170px;
     height: 55px;
         } 
         
          .head4{
            font-family:
          -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
            Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
          line-height: 1.4;
          text-align: center;
          margin-bottom: 20px;
          font-size: 23px;
          color: #7f7fdd;
          opacity: 0.8;

          position: absolute;
     top: 80px;
     right: -5px;
     width: 170px;
     height: 55px;
           }      

.big-red{
  position: absolute;
  top: 150px;
  right: 50px;
  
}
           
  .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    color: #333;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    overflow-y: auto;
  }
  
  
  
  svg {
    width: 64px;
    height: 64px;
  }
  
  
  .todo-list {
    /* overflow: scroll;
    overscroll-behavior: contain; */
    list-style: none;
    margin-bottom: 20px;
    position: absolute;
     top: 220px;
     right: 0px;
     left: 0px;
     
     
  }
  
  .todo-item {
    margin-bottom: 20px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: space-between;
    border-bottom:1px solid rgb(179, 179, 179);
  }
  
  .todo-item span {
    flex-grow: 3;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: rgb(74, 74, 74);
  }
  
  .done span {
    text-decoration: line-through;
    color: #888;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .tick {
    width: 20px;
    height: 20px;
    border: 3px solid rgb(127, 127, 127);
    border-radius: 10%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
  }
  
  .tick::before {
    font-weight: bold;
    content: '✓';
    font-size: 9px;
    color: #ffffff;
    display: none;
    
    /* width: 20px;
    height: 20px; */
    border: 7px solid red;
    border-radius: 10%;
    /* display: inline-flex; */
    /* justify-content: center;
    align-items: top;
    cursor: pointer; */
    background-color: red;
  }
  

  .done .tick::before {
    display: inline;
    
  }
  
  .delete-todo {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
  
  .delete-todo svg {
    width: 30px;
    height: 30px;
    pointer-events: none;
  }
  
  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid #333;
  }

  sup {
    font-size: x-small
  }

  .plus {
    width:60px;
    height:60px;
    display:inline-block;
    
    background:
      linear-gradient(rgb(252,103,108) 0 0) top left,
      linear-gradient(rgb(252,103,108) 0 0) top right,
      linear-gradient(rgb(252,103,108) 0 0) bottom left,
      linear-gradient(rgb(252,103,108) 0 0) bottom right;
    background-size: calc(50% - 1px) calc(50% - 1px); /*thickness = 2px (2*1px) */
    background-repeat:no-repeat;
    border:20px solid rgb(252,103,108);
    box-sizing: border-box;
    background-color: #fefefe;
        
  }
  
  .radius {
    border-radius:50%;
  }
  
  /* body {
   background:rgb(39, 105, 59);
  } */



 .big-box{
  width: 2px;
  height: 20px;
  top: 4px;
  left: 8px
 }

 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.line-1{
  
    width: 100%;
    height: 2px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 143px;
    margin-bottom:90px;
    background-color:rgb(179, 179, 179);
  
   
}

input[type=time] {
  border: none;
  color: #2a2c2d;
  font-size: 15px;
  font-family: helvetica;
  width: 90px;
  margin-right: 20px;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as 
the up and down buttons and the 'X' button */
input[type=time]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}

/* The space between the fields - between hour and minute, the minute and 
second, second and am/pm */
input[type=time]::-webkit-datetime-edit-text {
  padding: 5px 5px;
}

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */

/* Hour */
input[type=time]::-webkit-datetime-edit-hour-field {
  background-color: #f2f4f5;
  border-radius: 15%;
  padding: 2px 3px;
}

/*